In [ ]:
# NEXT - add new stats to game score model

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
con = sqlite3.Connection('db.db')

In [3]:
cursor = con.cursor()

In [13]:
df = pd.read_sql_query('''select *, ((pts * 0.04) + 

(ptsqf * 0.06) + 

(tds * 0.1) + 

(tos * 0.08) + 

(close * 0.25) + 

(closeqf * 0.75) +

(sacks * 0.04) + 

(sackyds * 0.005) + 

(rtns * 0.3) + 

(tds/drives)) as score from summary_view''', con=con)

In [14]:
df.describe()

,week,season,pts,ptsqf,yds,tds,tos,fdpc,sacks,sackyds,rtns,drives,drvtdpc,close,closeqf,score
count,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,738.000000,803.000000,803.000000,803.000000,803.000000,803.0,803.000000,803.000000,803.000000
mean,9.428394,2019.002491,44.793275,13.287671,706.225405,5.122042,2.673724,0.250678,4.792030,32.028643,0.049813,22.178082,0.0,0.764633,0.738481,4.426880
std,5.235196,0.817510,16.464868,7.764340,122.752484,2.156600,1.616049,0.433697,2.349794,17.376868,0.228863,3.216140,0.0,0.424493,0.439736,1.154149
min,1.000000,2018.000000,0.000000,0.000000,393.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,0.0,0.000000,0.000000,1.500000
25%,5.000000,2018.000000,36.000000,7.000000,616.500000,4.000000,1.500000,0.000000,3.000000,19.000000,0.000000,20.000000,0.0,1.000000,0.000000,3.615000
50%,9.000000,2019.000000,45.000000,13.000000,701.000000,5.000000,3.000000,0.000000,5.000000,30.000000,0.000000,22.000000,0.0,1.000000,1.000000,4.355000
75%,14.000000,2020.000000,55.000000,17.000000,787.000000,7.000000,4.000000,0.750000,6.000000,44.000000,0.000000,24.000000,0.0,1.000000,1.000000,5.232500
max,18.000000,2020.000000,105.000000,44.000000,1091.000000,12.000000,8.000000,1.000000,12.000000,98.000000,2.000000,38.000000,0.0,1.000000,1.000000,9.600000

In [16]:
df = df.sort_values('score', ascending=False)

In [18]:
df.to_csv('df.csv')