In [2]:
import re
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import datetime as dt
import sqlite3
import math

In [20]:
url = 'https://www.pro-football-reference.com/boxscores/202012060min.htm'
res = requests.get(url)
# use re to escape html comments
comm = re.compile("<!--|-->")
soup = BeautifulSoup(comm.sub("", res.text), 'lxml')
# get content div, holds all body content
divs = soup.findAll('div', id = "content")
# table for points by quarter
points = pd.read_html(res.text)[0]

In [5]:
points

,Unnamed: 0,Unnamed: 1,1,2,3,4,OT,Final
0,via Sports Logos.net About logos,Seattle Seahawks,10,17,0,7,0,34
1,via Sports Logos.net About logos,Arizona Cardinals,7,10,7,10,3,37

In [21]:
points.shape

(2, 8)

In [17]:
nonot = (2,7)
ot = (2,8)

In [23]:
ot = 0
if points.shape == (2,8):
    ot = 1

In [24]:
ot

1

In [11]:
teama_pts = int(points.iloc[0,-1])

In [12]:
teama_pts

34